* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.height-info {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.3rem;
  z-index: 10;
}

.height-info span {
  margin-left: 0.5rem;
}

.video {
  width: 100%;
  height: 100%;
}
